.footer {
  position: relative;
  background: #000;
  @include e('instagram') {
    position: relative;
    @include e('link') {
      @include fonte($system-font, normal, 14px, #000);
      @include transition;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, .5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:hover{
        background-color: #000;
        color: #FFF;
      }
    }

    @include e('feed') {
      @include e('img') {
        @include transition;
        
        @media #{$res-xs} {
          width: calc(100% / 2);
          &:nth-of-type(6),
          &:nth-of-type(5),
          &:nth-of-type(4),
          &:nth-of-type(3){
            display: none;
          }
        }
        @media #{$res-sm} {
          width: calc(100% / 3);
          &:nth-of-type(6),
          &:nth-of-type(5),
          &:nth-of-type(4){
            display: none;
          }
        }
        @media #{$res-md} {
          width: calc(100% / 4);
          &:nth-of-type(6),
          &:nth-of-type(5){
            display: none;
          }
        }
        @media #{$res-lg} {
          width: calc(100% / 5);
          &:nth-of-type(6){
            display: none;
          }
        }
        @media #{$res-xl} {
          width: calc(100% / 6);
          
        }
      }
    }
  }

  @include e('wrapper') {
    padding: 40px 0px;

    @media #{$res-xs} {
      @include flexbox(flex, column, wrap, space-between, center, center);
    }

    @media #{$res-sm} {
      @include flexbox(flex, column, wrap, space-between, center, center);
    }

    @media #{$res-md} {
      @include flexbox(flex, row, wrap, space-between, center, center);
    }

    @media #{$res-lg} {
      @include flexbox(flex, row, wrap, space-between, center, center);
    }

    @media #{$res-xl} {
      @include flexbox(flex, row, wrap, space-between, center, center);
    }
  }

  @include e('rights') {
    @include fonte($system-font, normal, 11px, #a7a7a7);
  }

  @include e('madeby') {
    @include fonte($system-font, normal, 11px, #a7a7a7);
    @include e('icon') {
      color: #e67272;
    }
    @include e('link') {
      @include fonte($system-font, normal, 11px, #a7a7a7);
    }
  }

}