.headerarea {
    @include flexbox(flex, row, nowrap, center, flex-end, center);
    @include box-sizing;
    @include transition;
    background-image: url("../../assets/img/bg-header.jpg");
    position: fixed;
    width: 100%;
    height: auto;

    @media #{$res-xs-sm}{}

    @media #{$res-md} {
        padding-top: 100px;
    }
    @media #{$res-lg} {
        padding-top: 100px;
    }
    @media #{$res-xl} {
        padding-top: 100px;
    }

    @include e("wrapper") {
        @include flexbox(flex, row, nowrap, center, center, center);

        @include e("link") {
            text-align: center;

            @include e("img") {
                @include transition;

                @media #{$res-xs} {
                    width: 55%;
                    margin-top: 25px;
                }
                @media #{$res-sm} {
                    width: 70%;
                    margin-top: 25px;
                }
                @media #{$res-md} {
                    width: 60%;
                }
                @media #{$res-lg} {
                    width: 80%;
                }
                @media #{$res-xl} {
                    width: 100%;
                }

                max-width: 400px;
                height: auto;
            }
        }
        
    }
}

.headghost{
    @include transition;
    width: 100%;
    display: block;    
    
    @media #{$res-xs} {
        height: 220px;
    }
    @media #{$res-400} {
        height: 200px;
    }
    @media #{$res-350} {
        height: 185px;
    }
    @media #{$res-300} {
        height: 155px;
    }
    @media #{$res-sm} {
        height: 280px;
    }
    @media #{$res-md} {
        height: 340px;
    }
    @media #{$res-lg} {
        height: 420px;
    }
    @media #{$res-xl} {
        height: 500px;
    }
}

.post {
    .headerarea{
        background-image: none;
        background-color: #e3e3e3;
    }
    .headghost{
        @include transition;
        width: 100%;
        display: block;    
        
        
        @media #{$res-400} {
            height: 200px;
        }
        @media #{$res-350} {
            height: 185px;
        }
        @media #{$res-300} {
            height: 150px;
        }
        @media #{$res-xs} {
            height: 150px;
        }
        @media #{$res-sm} {
            height: 166px;
        }
        @media #{$res-md} {
            height: 240px;
        }
        @media #{$res-lg} {
            height: 285px;
        }
        @media #{$res-xl} {
            height: 337px;
        }
    }
}