.mainheader {
  @include flexbox(flex, row, wrap, space-between, center, center);
  @include transition;
  height: 80px;
  
  @media #{$res-xs-sm} {
    display: none;
  }

  @include e('wrapper') {
    @include flexbox(flex, row, wrap, space-between, center, center);
    @include transition;
    position: relative;
    @include e('searchSocial') {
      @include flexbox(flex, row, nowrap, center, center, center);
    }
  }

  @include transition;
  @extend %box-sizing;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #FFF;
  position: fixed;
  z-index: 10;

 

  .logo{
    @include transition;
    transform: scale(1);
    @include e('link') {
      @include e('img') {
        width: 100px;
        height: auto;
      }
    }
  }

  @include m('fixed') {
    @include transition;
    height: 60px;
    .logo {
      position: relative;
      transform: scale(.6);
    }
  }

  
}