.navbar {
    @include transition;
    @include flexbox(flex, row, wrap, space-between, center, center);
    @extend %box-sizing;
    padding: 10px;

    @media #{$res-xs} {
        display: none;
    }
    @media #{$res-sm} {
        display: none;
    }
    @media #{$res-md} {
        width: 35%;
    }
    @media #{$res-lg} {
        width: 35%;
    }
    @media #{$res-xl} {
        width: 35%;
    }

    @include e('item') {
        @include transition(null, .2s, null);
        font-size: 12px;
        color: $color-secondary-dark;
        &:hover {
            color: #000;
        }
    }
    
}
