.send {
    @include flexbox(flex, row, nowrap, flex-start, center, center);

    @media #{$res-xs-sm} {
        @include flexbox(flex, column, nowrap, flex-start, center, center);
    }

    @include box-sizing;
    width: 100%;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    background-color: #FFF;
    margin-bottom: 20px;

    @include e('icon') {
        font-size: 80px;
        color: $color-primary-dark;
    }
    @include e('info') {
        margin-left: 20px;

        @media #{$res-xs-sm} {
            text-align: center;
            margin-top: 20px;
            margin-left: 0px;
        }

        @include e('title') {
            @include fonte($system-font, bold, 26px, #3b3b3b);
            text-transform: uppercase;
            display: block;
            margin-bottom: 10px;
        }

        @include e('desc') {
            @include fonte($system-font, normal, 16px, rgb(87, 87, 87));
            display: block;
            margin-bottom: 10px;
        }
    }
}