.form{
    @include animate(fadeIn, 0s);
    @include box-sizing;
    background-color: #FFF;
    padding: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    display: none;

    @include e('group'){
        @include flexbox(row, wrap, space-between, flex-end, center);
        @include transition;
        padding: 20px 0px;
    }

    @include e('block'){

        @include e('radio'){
            @include flexbox(row, wrap, flex-start, center, center);
        }

        @include e('label'){
            @include fonte($second-font, bold, 14px, #212129);
            display: block;
            margin-bottom: 5px;
            @include m('radio'){
                margin-left: 5px;
                margin-bottom: 0px;
            }
        }
    
        @include e('control'){
            @include box-sizing;
            @include box-shadow(1px, 1px, 1px, #c1c2c2, inset);
            @include border-radius(2px);
            width: 100%;
            padding: 15px;
            background-color: #f1f2f2;
            border: 0px;
            @include m('radio'){
                margin-top: 10px;
            }
        }

        @include e('line'){
            width: 100%;
            height: 1px;
            background-color: #535353;
            margin: 10px 0px;
        }

    } 

}